.campaign-menu__wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height: 50%;
    position: relative;
    /* background:rgba(0,0,0,0.6); */
}

.campaign-menu__main{
    padding:1rem;
    
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
    0px 5px 8px 0px rgba(0,0,0,0.14),
    0px 1px 14px 0px rgba(0,0,0,0.12);
    border-radius:.3rem;  
    min-width:33.333%;
    padding:5rem;
    background-image: linear-gradient(to right top, #845ec2, #7658a5, #685189, #5a4b6d, #4b4453);
    margin-top:1rem;
    /* z-index:900;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0; */
}

.campaign-menu__header{
    text-align:center;
    margin:.5rem;
    font-family: 'teutonicregular';

}

.campaign-menu__header--title{
    font-size:3rem;
}

.campaign-menu_main{
    width:33.3%;
    margin: 2rem auto;
    
}

form{
    margin-top:1rem;
    margin-bottom:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:.2rem;
}

.Campaign-menu__submit{
    margin:1rem;
    border-radius:.2rem;
    padding: .5rem 1rem;
    background:rgb(117, 230, 117);
}