.campaign-menu__wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height: 50%;
    position: relative;
}

.campaign-menu__main{
    padding:1rem;
    border-radius:.3rem;   
    min-width:33.333%;
    padding:5rem;
    margin-top:1rem;
}



.campaign-menu__header{
    text-align:center;
    margin:.5rem;
    font-family: 'teutonicregular';

}

.campaign-menu__header--title{
    font-size:3rem;
}

.campaign-menu_main{
    width:33.3%;
    margin: 2rem auto;
    
}

form{
    margin-top:1rem;
    margin-bottom:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:.2rem;
}

.Campaign-menu__submit{
    margin:1rem;
    border-radius:.2rem;
    padding: .5rem 1rem;
    background:rgb(117, 230, 117);
}