.campaign-menu__wrapper{
    /* display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height: 50%;
    position: relative; */
    max-width:100%;
    text-align: center;
}

.campaign-menu__main{

    border-radius:.3rem;   
    /* max-width:85.333%; */
    padding:1.4rem;
    text-align: center;
    margin:0 auto;
}


.campaign-menu__card{
    
    border-radius:3px;
    position: relative;
    padding-top: 56.25%;   /* 16:9 Aspect Ratio */
}

/* .campaign-menu__card--title{
    font-size:1.6rem;
    color: #d3d3d3;
    text-align:center;
} */
/* 

/* .campaign-menu__header{
    display:inline;
    margin:0 auto;

} */

.campaign-menu__header--title{
    /* margin-top:36px;            this has to be here or text won't center correctly */
    font-size:2.3rem;
    color: #d3d3d3;
    font-family: 'teutonicregular';
    text-align:center;
}

.campaign-menu_main--form--header{
    font-family: 'teutonicregular';
    color: #d3d3d3;
}


.campaign-menu_main--form{
    text-align: center;
}

.campaign-menu_main--form > h1{
    margin-top:2.5rem;
}

.campaign-menu_main--form > button{ 
    margin-top:5rem;
}

@media (max-width: 800px) {
    .campaign-menu__wrapper{
        margin-top:5rem;
    }
  }