.ScenarioMenu__wrapper{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-top:2rem;
    
}

.ScenarioMenu__main{
    padding: 1rem;

    border-radius:.4rem;
}

.Scenario__heading{
    
}

.ScenarioMenu__header{
    font-family: 'teutonicregular';
    text-align:center;
    font-size:2em;
}

