.Scenarios__wrapper{
    /* display:flex;
    flex-direction: row;
    padding:1rem;
    border-radius:.2rem;
    flex-wrap:wrap;
    justify-content: center;
    max-height:180px;
    margin-bottom:1rem; */
    
}

.ScenarioMenu__form--items{
    /* display:flex;
    flex-shrink:1; */
}

