.Scenario__wrapper{
    display:flex;
    flex-direction:row;
    margin-bottom:1.4rem;
    border-radius:.4rem;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
    0px 5px 8px 0px rgba(0,0,0,0.14),
    0px 1px 14px 0px rgba(0,0,0,0.12);
    transition: all .2s;
    background-color:#e7e7e7;
    padding:1rem;
}

.Scenario__wrapper:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.Scenario__wrapper:hover::after {
    transform: scaleX(1.6) scaleY(1.4);
    opacity: 0; 
}

.Scenario__wrapper:active{
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.0),
    0px 3px 4px 0px rgba(0,0,0,0.07),
    0px 2px 7px 0px rgba(0,0,0,0.06);
}

.Scenario__header{
    margin-right:.5rem;
}

.Scenario__icon{
    width:1rem;
    height:1rem; 
}

.Scenario__icon-wrapper{
    width:1rem;
    height:1rem;
}