.Radio__wrapper{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.Radio__form--choices{
    margin:.5rem;
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
}


.Radio__form--submission{

    display:flex;
    justify-content: center;
}

.Radio__userInputs{
    padding:.5rem;
}