.Radio__wrapper{
    background-size:cover;
    background-position: center;
    display:block;

}

.Radio__form--submission{
    margin:1rem;
    border-radius:.2rem;
    padding: .5rem 1rem;
}

.Radio__userInputs{
    border-radius:4px;
}

