

.Radio__choice{
    font-family: 'Crimson Text', serif;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    padding:1em;

}
.Radio__choice--input{
    cursor:pointer;
}

.Affirmitive{
    margin-right:1rem;
    padding:1rem;
    background-color:green;
    border-radius:.4rem;
}

.Decline{
    background-color:red;
    border-radius:.4rem;
    padding:1rem;
    box-shadow: 1rem 2rem 1rem 0rem rgba(black,.4);
}