
*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing:inherit;
}
.App {
  font-size:62.5%;
  /* max-width:960px; */
  margin:0 auto;

}

.modal{
  display:block;
  position:fixed;
  z-index: 1;
  left:0;
  top:0;
  height:100%;
  width:100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.5);
}


@font-face {
  font-family: 'teutonicregular';
  src: url('./fonts/teutonic-webfont.woff2') format('woff2'),
       url('./fonts/Teutonic.ttf')  format('truetype'),
       url('./fonts/teutonic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
