

.Radio__choice{
    font-family: 'Crimson Text', serif;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    font-weight:900;
    color:#d3d3d3;
}

.Radio__choice--selected{
    opacity:.8;
    
    border-top:4px solid orange;
    border-bottom:4px solid orange;
    color:#d3d3d3;
}

.Radio__choice:nth-child(1){
    font-family: 'Crimson Text', serif;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    font-weight:900;
    color:black;
}


.Radio__choice--input{
    cursor:pointer;
}

.Affirmitive{
    margin-right:1rem;
    border-radius:3px;
}

.Decline{
    background-color:red;
    box-shadow: 1rem 2rem 1rem 0rem rgba(black,.4);
}