.Form-Wrapper{
    display:block;
    text-align:center;
    background-color:#f7f7f7;
    border-radius: .4rem ;
    box-shadow: 1rem 2rem  rgba(black,.4);
    padding:2.5rem; 
    width:20rem;
    margin:0 auto;
    cursor:pointer;
}

.Radio__choice:nth-child(1){
    margin-right:1rem;
    padding:1rem;
    color:green;
    border-radius:.4rem;
}

.Radio__choice{
    color:red;
    border-radius:.4rem;
    padding:1rem;
    box-shadow: 1rem 2rem 1rem 0rem rgba(black,.4);
}

.Radio__choice:nth-last-child(1){
    margin-left:1rem;
}